aclocal.m4
autom4te.cache
compile
*Makefile.in
*Makefile
config.log
config.h
config.h.in*
config.status
configure
depcomp
install-sh
missing
*.o
*.rej
*.swp
src/.deps/
src/discord-tray
stamp-h1
*.list
discord-tray.spec
discord-tray.desktop
